<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome! {{users.name}}</h1>
    <h4>Add a new Book and Review: <button><a href='/home/add_book'>Add</a></button></h4>
    <h3>Recent Reviews:</h3>
    {{ review.books.author }}
    {% for rev in review %}
        <li><h4>Book Title: <a href='/book/{{ rev.book.id }}'>{{ rev.book.title }}</a></h4></li>
        <li>{{ rev.review }}</li>
        <h4>Reviewer: <a href='/user/{{ rev.user.id }}'>{{ rev.user.name }}</a></h4>
    {% endfor %}
</body>
</html>